<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BusTravel</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header id="header">
        <div class="container d-flex align-items-center justify-content-between">
            <div id="logo">
                <a asp-controller="Home" asp-action="Index" class="h4 text-white font-weight-bold">BUS TRAVEL</a>
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Schedule" asp-action="ListSchedules">Seferler</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">İletişim</a></li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" href="#">Selam, @User.Identity.Name</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="Logout">Çıkış</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="Login">Giriş</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="Register">Kayıt</a></li>
                    }
                </ul>
            </nav>
        </div>
    </header>
    <div class="container-fluid p-0">
        @RenderBody()
    </div>

    <footer class="footer-area">
        <div class="container text-center">
            <p>Copyright &copy; 2025 BusTravel</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>