<section class="about-banner banner-inner">
    <div class="overlay-bg"></div>
    <div class="container banner-content text-center">
        <h1 class="text-light">Hakkımızda</h1>
    </div>
</section>

<section class="section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid rounded shadow" src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="">
            </div>
            <div class="col-lg-6 pl-lg-5 mt-4 mt-lg-0">
                <h1>Biz Kimiz?</h1>
                <p class="mt-3">
                    2025 yılında kurulan BusTravel, Türkiye'nin karayolu yolcu taşımacılığında dijital dönüşüme öncülük etmeyi hedefleyen teknoloji tabanlı bir seyahat platformudur.
                </p>
                <p>
                    Geniş firma ağımız ve kullanıcı dostu arayüzümüz ile seyahat planlamanızı kolaylaştırıyoruz. Konforlu koltuklar, ücretsiz Wi-Fi hizmeti ve 7/24 destek hattımızla yanınızdayız.
                </p>
            </div>
        </div>
    </div>
</section>