<section class="about-banner banner-inner">
    <div class="overlay-bg"></div>
    <div class="container banner-content text-center">
        <h1>İletişim</h1>
    </div>
</section>

<section class="section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-4">
                    <h5><i class="fa fa-home text-warning mr-2"></i> Adres</h5>
                    <p>Maslak, Büyükdere Cd. No:1, İstanbul</p>
                </div>
                <div class="mb-4">
                    <h5><i class="fa fa-phone text-warning mr-2"></i> Telefon</h5>
                    <p>+90 (212) 555 00 00</p>
                </div>
                <div class="mb-4">
                    <h5><i class="fa fa-envelope text-warning mr-2"></i> E-posta</h5>
                    <p>destek@bustravel.com</p>
                </div>
            </div>
            <div class="col-lg-8">
                <form>
                    <div class="row">
                        <div class="col-md-6 form-group"><input class="form-control" placeholder="Adınız"></div>
                        <div class="col-md-6 form-group"><input class="form-control" placeholder="E-posta"></div>
                        <div class="col-12 form-group"><textarea class="form-control" rows="5" placeholder="Mesajınız"></textarea></div>
                        <div class="col-12"><button class="primary-btn">Gönder</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>